@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-flow: column wrap;

  width: min(100% - 2rem, 100%);
  margin-inline: auto;
  line-height: 1.6;

  border: solid #e76f51;
  background-color: #023e8a;
  color: white;
}

#title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  font-size: 1.3rem;
  padding: 0.5rem;
  text-align: center;
  border-bottom: solid #e76f51;
  width: 100%;
}

#icon-logo {
  position: relative;
  top: 15px;
}

.navbar {
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
}

#post-list {
  padding: 0.5rem;
  margin-top: 1rem;
}

.posts {
  padding: 0.3rem;
  margin-bottom: 1rem;
  border-top: solid #e76f51;
  width: 50%;
}

#register {
  border: solid #e76f51;
  padding: 1rem;
  text-align: center;
  height: 90vh;
  font-size: 1.2rem;
}

#registerButton {
  background-color: #25a18e;
  color: white;

  border-radius: 10px;
  font-size: 1rem;
  padding: 2px;
  margin-top: 1rem;
}

#login {
  background-color: #25a18e;
  color: white;

  border-radius: 10px;
  font-size: 1.5rem;
  padding: 2px;
  margin-top: 0.5rem;
}

#loginfield {
  border: solid #e76f51;
  padding: 1rem;
  text-align: center;
  height: 90vh;
  font-size: 1.5rem;
}

#logout {
  background-color: #d64933;
  color: white;

  border-radius: 10px;
  font-size: 1rem;
  padding: 2px;
  margin-top: 1rem;
}

#login:hover {
  box-shadow: 0 0 5px 0.1rem white;
}

#login:active {
  transform: translateY(0.3vh);
}

#logout:hover {
  box-shadow: 0 0 5px 0.1rem white;
}

#logout:active {
  transform: translateY(0.3vh);
}

#profile {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.2rem;
  border: none;
}

#new-post {
  text-align: center;
  font-size: 1.2rem;
  border: none;
  height: 90vh;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

#new-post input {
  display: inline-block;
}

#new-post label {
  width: 10%;
  text-align: right;
}

#new-post input,
input::placeholder {
  font: 20px/2 sans-serif;
}

#new-post button {
  background-color: #25a18e;
  color: white;

  border-radius: 10px;
  font-size: 1.5rem;
  padding: 2px;
  margin-top: 0.5rem;
}
