#createpost-page {
  height: 79vh;
}

#createpost-form {
  display: flex;
  justify-content: center;
  border: solid #fa7458;
  margin: 0 auto;

  width: 20%;
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 5rem;
}

#createpost-form textarea {
  resize: none;
  display: block;
  margin: 0 auto;
  width: 15rem;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

#createpost-form input {
  margin: 0.5rem;
  padding: 0.2rem;
}

#createpost-delivery {
  display: flex;
  justify-content: space-evenly;

  margin: 0 auto;
  padding: 5px;
  margin-top: 1rem;
}

#createpost-button {
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#createpost-button:active {
  transform: translateY(0.3vh);
}
