#mymessages-page {
  overflow: scroll;
}

#no-posts {
  margin-left: 1rem;
}

#delete-post-button:active {
  transform: translateY(0.3vh);
}

#dialog-update-post:active {
  transform: translateY(0.3vh);
}
