.navbar {
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
}

.navbar:hover {
  text-decoration: underline;
}

#icon-home,
#icon-login,
#icon-addpost,
#icon-profile,
#icon-register {
  position: relative;
  top: 5px;
  left: 3px;
}

#logout {
  background-color: #d64933;
  color: white;

  border-radius: 10px;
  font-size: 1rem;
  padding: 2px;
  margin-top: 1rem;
}

#logout:hover {
  box-shadow: 0 0 5px 0.1rem white;
}

#logout:active {
  transform: translateY(0.3vh);
}
