#new-post-page {
  height: 100vh;
}

#new-post-form {
  display: flex;
  justify-content: center;
  border: solid #e76f51;
  margin: 0 auto;

  width: 25%;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

textarea {
  resize: none;
  display: block;
  margin: 0 auto;
  width: 15rem;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

input {
  margin: 0.5rem;
  padding: 0.2rem;
}

#new-post-delivery {
  display: flex;
  justify-content: space-evenly;

  margin: 0 auto;
  padding: 5px;
  margin-top: 1rem;
}

#new-post-button {
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#new-post-button:hover {
  box-shadow: 0 0 5px 0.1rem white;
}

#new-post-button:active {
  transform: translateY(0.3vh);
}
