#search-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.search-results {
  border: solid #fa7458;
  margin: 1rem;
  width: 50%;
  padding: 0.5rem;
}

#postlist-container {
  height: 79vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#postlist-container::-webkit-scrollbar {
  display: none;
}

#dialog-message {
  margin-top: 0.5rem;
}

#dialog-message:active {
  transform: translateY(0.3vh);
}
